:root{
    --color-primary: #00d0c5;
    --color-secundary: white;
}

html{
scroll-behavior: smooth;
}

*{
    background-color: #000721;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

.main{
    background: #000721;
}

/*header*/
.header{
    background-color: #000721;
    height: 100vh;
}

.header__presentacion{
    height: 500px;
    position: absolute;
    width: 100%;
}

.header__title{
    color: var(--color-primary);
    font-size: 60px;
    left: 45%;
    position: absolute;
    top: 100px;
}

.header__img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    right: 55%;
    top: 150px;
}

/*menu*/
.header__menu{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #000721;
    border-bottom: 2px solid var(--color-primary);
    z-index: 1;
}

.header__ul{
    padding: 1px;
    text-align: right;
}

.header__li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

.header__a{
    color: white;
    text-decoration: none;
}

.header__a:hover{
    color: var(--color-primary);
}

/*cuerpo*/

/*parrafo*/
p{
    font-size: 20px;
    color: white;
    text-align: justify;
}

.sobre__subtitle{
    color: var(--color-primary);
    font-size: 30px;
}

/*sobre mi*/
.sobre{
    border: 1px solid black;
    height: 100vh;
}

.sobre__title{
    color: var(--color-primary);
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}

.sobre__img{
    height: 400px;
    left: 20%;
    position: absolute;
}

/*info seccion "sobre mi"*/
.sobre__info{
    display: inline-block;
    line-height: 30px;
    top: 30px;
    width: 40%;
    position: relative;
    left: 50%;
}

.sobre__info i{
    margin: 10px 20px;
}

/*icono*/
i{
    color: white;
    font-size: 45px;
}

i:hover{
    color: var(--color-primary);
}

/*proyectos*/
.proyectos__title{
    color: var(--color-primary);
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}

.proyectos__fotos{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
}

.proyectos__foto{
    width: 100%;
}

/*footer*/
footer{
    background-color: #000721;
    text-align: center;
    font-size: 30px;
}

