html{
scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

.main{
    background: #000721;
}

/*Inicio*/
header{
    text-align: center;
}

/*inicio*/
header h1{
    display: inline-block;
    margin: 0;
    font-size: 60px;
    color: #00d0c5;
    text-align: left;
}

/*caja contenedora de nombre principal e imagen*/
.nombre_principal{
    position: relative;
    top: 150px;
}

img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    bottom: 160px;
}

.inicio{
    height: 610px;
}

/*navegación entera*/
nav{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #000721;
    border-bottom: 2px solid #00d0c5;
    z-index: 1;
}

nav ul{
    padding: 1px;
    text-align: right;
}

nav li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: #00d0c5;
    font-weight: bold;
}

/*cuerpo*/
h2{
    color: #00d0c5;
    text-align: center;
    font-size: 60px;
}

h3{
    color: #00d0c5;
    font-size: 30px;
}

/*parrafo*/
p{
    font-size: 20px;
    color: white;
    text-align: justify;
}

/*sobre mi*/
.caja_sobre{
    border: 1px solid black;
    height: 610px;
}

.titulo_sobre{
    padding-top: 50px;
}

/*info seccion "sobre mi"*/
.info_sobre{
    display: inline-block;
    line-height: 30px;
    top: 30px;
    width: 40%;
    position: relative;
    left: 50%;
}

.info_sobre i{
    margin: 10px 20px;
}

/*icono*/
i{
    color: white;
    font-size: 45px;
}

i:hover{
    color: #00d0c5;
}

/*proyectos*/
.caja_proyectos{
    height: 610px;
}

.titulo_proyectos{
    padding-top: 50px;
}

/*footer*/
footer{
    text-align: center;
}

