/*celular s5*/
@media screen and (max-width: 360px){
    body{
        background: gray;
    }

    h1{
        font-size:40px;
    }

    .p{
        font-size: 15px;
        padding: 5px;
        text-align: justify;
    }

    .div{
        width: 100%;
        margin: 0px;
    }

    nav li{
        font-size: 15px;
        display: block;
    }

