/*celular s5*/
@media screen and (max-width: 360px){
    header h1{
        font-size: 70px;
    }

    /*navegacion*/
    /*
    nav{
        height: 745px;
    }*/

    nav a{
        font-size: 30px;
    }

    .p{
        font-size: 15px;
        padding: 5px;
        text-align: justify;
    }

    .div{
        width: 100%;
        margin: 0px;
    }

    nav{
        position: fixe;
    }

    nav li{
        font-size: 15px;
        display: block;
    }